body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 10px;
	bottom: 10px;
  margin: 8px;
	width: 100%;
}

/* #map {
  height: 90%;
  margin: 8px;
} */

#navUArrow {
  color: black;
  padding: 5px;
  margin-top:5px
}

#navDArrow {
  color: black;
  padding: 5px;
  margin-bottom:5px
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

